body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.success-message {
  background-color: rgb(40, 248, 40);
  width: 100%;
  font-size: 40px;
  font-weight: bold;
}
.error-message {
  background-color: red;
  width: 100%;
  font-size: 40px;
  font-weight: bold;
}
